* {
  margin: 0;
  font-family: Arial, sans-serif;
  /* mainly height width bahirer  side e add hoy. 
  border box dile  border area vetorer side e hobe.  */
  border: border-box;
}
.navbar {
  height: 60;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navlogo {
  height: 50px;
  width: 100px;
}
.logo {
  background-image: url("Photoes/amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100%;
}
.border {
  border: 2px solid transparent;
}
.border:hover {
  border: 2px solid white;
}
.deliverto {
  color: antiquewhite;
  font-size: 15px;
  font-weight: bold;
  margin-left: 15px;
}
.deliveryplace {
  font-size: 20px;
  margin-left: 5px;
}
.add-icon {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.nav-search {
  display: flex;
  justify-content: center;
  background-color: aqua;
  width: 620px;
  height: 40px;
  border-radius: 4px;
}
.search-select {
  background-color: beige;
  width: 50px;
  text-align: center;
  /* border-radius: 4px; */
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.searchinput {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.searchicon {
  width: 50px;
  background-color: #febd68;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rm;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}
.language_select {
  height: 50px;
  width: 100px;
  background-color: #041212;
  color: aliceblue;
  font-weight: bold;
  text-align: center;
}
.languagebox {
  height: 50px;
  width: 100px;
  /* border: 5px; */
  /* border-color: white;
  border-radius: 20px; */
}
.languagebox:hover {
  border: double;
  border-color: aliceblue;
}
.signincommand {
  height: 50px;
  width: 110px;
  text-align: center;
  color: white;
}

.nav_return {
  height: 50px;
  width: 100px;
  text-align: center;
  color: white;
}
span {
  font-size: 0.7rem;
}
.accounts {
  font-size: 0.9rem;
  font-weight: 700;
}
.nav_order {
  font-weight: 700;
}
.cart_image {
  font-size: 30px;
}
.nav_text {
  font-weight: 700;
}
.nav_cartbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
}
.sub_nevi {
  display: flex;
  /* justify-content: space-evenly; */
  height: 35px;
  width: 100%;
  background-color: antiquewhite;
}
.borderforsubnevi {
  border: 2px solid transparent;
}
.borderforsubnevi:hover {
  border: 2px solid brown;
}
.allmenubox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 80px;
  gap: 4px;
}
.todaysdeal {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 110px;
  align-items: center;
  margin-left: 2px;
}
.subcusservice {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 150px;
  align-items: center;
  margin-left: 2px;
}
.mainbody {
  height: 350px;
  width: auto;
  background-color: #febd68;
  background-image: url(Photoes/ifif3.png);
  background-size: contain;
  /* gap: 15px; */

  /* background-position: center; */
}
.shop_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: antiquewhite;
  margin-bottom: 10px;
}
.box {
  border: 2px black solid;
  height: 350px;
  width: 23%;
  background-color: white;
  padding: 10px 0px 20px;
  margin-top: 20px;
  border: none;
}
.picinbox {
  height: 250px;
  background-image: url(Photoes/Gamming_Accessories.png);
  background-size: cover;
  background-color: #febd68;
  margin: 15px 0px 40px;
}
.boxcontent {
  margin: 10px;
}
.seemoretxt:hover {
  color: brown;
  font-weight: 500;
}
.footpanel1 {
  background-color: #1f1137;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
}
.footpanel1:hover {
  background-color: #341d5c;
}
.footpanel2 {
  height: 200px;
  width: auto;
  background-color: #041212;
  color: white;
}
